! urxvt ----------------------------------------------------------------------
URxvt*termName:        rxvt-unicode
URxvt*depth:           32
URxvt*background:      [80]Black
URxvt*foreground:      White
URxvt*scrollBar:       false
URxvt*internalBorder:  5
URxvt.font:            -xos4-terminus-*-r-normal-*-16-160-72-72-c-80-*-u
URxvt.perl-ext-common: default,matcher,tabbed,confirm-paste
URxvt.url-launcher:    /usr/bin/firefox
URxvt.matcher.button:  1
URxvt.colorUL:         #4682B4
URxvt*.transparent:    false
URxvt*tintColor:       Blue
URxvt*color4:          RoyalBlue
URxvt*color12:         RoyalBlue

! xterm ----------------------------------------------------------------------
! xterm*font:       -xos4-terminus-*-r-normal--30-*-*-*-*-*-*-*
xterm*faceName: Monospace
xterm*faceSize: 24
xterm*foreground: black
xterm*background: white

! emacs ----------------------------------------------------------------------
Emacs.bitmapIcon:         off
Emacs.menuBar:            off
Emacs.verticalScrollBars: off
Emacs.toolBar:            off
Emacs.cursorBlink:        off
Emacs.font:               -xos4-terminus-*-r-normal-*-16-160-72-72-c-80-*-*
